// @import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://use.typekit.net/pwn0svp.css");

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
	padding: 0;
	margin: 0;
}
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #fdfaf7;
	font-family: "Noto Sans Display", sans-serif;
	color: #4b3f3f;

	nav {
		position: sticky;
		top: 0;
		background: #fdfaf7 url("../assets/nav-ribbon.png") repeat-x;
		background-size: cover;
		image-rendering: -webkit-optimize-contrast;
		font-family: "Noto Serif", serif !important;

		&::after {
			margin: auto;
			content: "";
			display: block;
			width: 85%;
			border: 1px #00000015 solid;
		}

		.bar {
			padding: 0.75rem 0rem;
			display: flex;
			font-size: 1.1rem;
			justify-content: center;
			align-items: center;

			.item {
				display: inline-block;
				text-decoration: none;
				color: #4b3f3f;
				font-weight: 500;
				margin: 0 1.25rem;
			}
			#logo {
				font-weight: 700;
				font-size: 1.75rem;
				margin-left: 1.75rem;
				margin-right: auto;
			}
			#wallet {
				margin-right: 1.75rem;
				margin-left: auto;

				padding: 0.5rem 1rem;
				border: 2px solid #4c4c4c;
				cursor: pointer;
				color: #ff6363;
			}
		}
	}

	main {
		padding: 5rem 2.5rem;
		min-height: 90vh;
	}
}
